
/* /////////  Cairo Font  ///////// */
@font-face {
  font-family: "Cairo";
  src: url("./Cairo-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Cairo";
  src: url("./Cairo-Medium.ttf") format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "Cairo";
  src: url("./Cairo-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Cairo";
  src: url("./Cairo-Bold.ttf") format("truetype");
  font-weight: bold;
}
